*{
    margin: 0;
    padding: 0;
}
/* .main-content-p{
    border: 1px solid red;
    background-color: aqua;
} */
.heading{
    text-align: center;
}
#projects{
    position: relative;
    top: 1rem;
    margin-bottom: 2rem;
}
.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* max-width: 30rem; */
    justify-content: center;
    gap: 3rem;
}
.p1{
    width: 20rem;
    padding: 2rem;
}
.p1 img{
    margin: 5px;
    height: 100px;
    width: 100%;
    /* border: 1px solid green; */

}
@media only screen and(max-width:412px){
    .list{
       display: grid;
    }
    .card{
        background-color: aqua;
    }
    .p1,.p2,.p3{
        padding: 0;
    }
}
